# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore Checkpoints
https://github.com/allisonvaldez/BabyNames/tree/217f79cf02246e578fc7139e8529d4a73386bd09/.ipynb_checkpoints